# Filtra da players.json per trovare tutti i nomi unici che hanno giocato in stagione

In [1]:
import json
import pandas as pd

In [2]:
with open('players.json', 'r') as f:
    players = json.load(f)

print(f"Trovati {len(players)} link")

Trovati 34860 link

In [3]:
players = pd.DataFrame(players)
players_un = players.drop_duplicates().reset_index()
players_un = players_un[['Nome', 'Cognome']]
players_un

         Nome   Cognome
0     Taurean    Prince
1      LeBron     James
2     Anthony     Davis
3      Austin    Reaves
4    D'Angelo   Russell
..        ...       ...
586   Brandon    Clarke
587    Zavier   Simpson
588     Malik  Williams
589     Timmy     Allen
590      Jack     White

[591 rows x 2 columns]

In [5]:
with open('players_database.json', 'w') as f:
    json.dump(players_un.to_dict(orient='records'), f, indent=2)