# Analisi dei frame di tiro per capire i motivi dei video mancanti

In [8]:
import pandas as pd
import json

In [9]:
# Carica il JSON da file
with open('shot_frame_extraction_results.json', 'r') as file:
    data = json.load(file)

In [11]:
# Estrai la sezione dei risultati per video
risultati = data['risultati_per_video']

# Converti in DataFrame
df = pd.DataFrame(list(risultati.items()), columns=['nome_video', 'valore'])

print(df.head())

                          nome_video  valore
0  bos-vs-nyk-0022300065_1_11:48.mp4       2
1  bos-vs-nyk-0022300065_1_11:10.mp4       2
2  bos-vs-nyk-0022300065_1_10:42.mp4       2
3  bos-vs-nyk-0022300065_1_10:05.mp4       2
4  bos-vs-nyk-0022300065_1_09:43.mp4       2

In [12]:
df[df['valore'] == 0]

                             nome_video  valore
12    bos-vs-nyk-0022300065_1_04:27.mp4       0
27    bos-vs-nyk-0022300065_2_07:56.mp4       0
38    bos-vs-nyk-0022300065_2_00:59.mp4       0
48    bos-vs-nyk-0022300065_3_07:44.mp4       0
83    mia-vs-bos-0022300080_1_09:27.mp4       0
...                                 ...     ...
8900  dal-vs-bos-0042300405_3_00:50.mp4       0
8907  dal-vs-bos-0042300405_4_07:18.mp4       0
8910  dal-vs-bos-0042300405_4_05:10.mp4       0
8912  dal-vs-bos-0042300405_4_04:22.mp4       0
8918  dal-vs-bos-0042300405_4_00:22.mp4       0

[885 rows x 2 columns]